*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: lightgray;
}

/* header */

header{
    background-color: white;
    padding-top: 20px;
    padding-left: 20px;
}

header > h1{
    display: inline-block;
    font-weight: bold;
    line-height: 50px;
    vertical-align: bottom;
    font-size: 40px;
}

