*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f6f8f9;
}

/* header */

header{
    background-color: white;
    padding-top: 20px;
    padding-left: 20px;
}

header > h1{
    display: inline-block;
    font-weight: bold;
    line-height: 50px;
    vertical-align: bottom;
    font-size: 40px;
}

/* main */

main{
    margin-top: 100px;
}

.buttonarea, .mainpart{
    margin-top: 2px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px 40px;

    background-color: white;
}

.buttonarea{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* bottoni */

button{
    padding: 5px 10px;

    border: solid gray 1px;
    border-radius: 5px;

    color: gray;

    background-color: transparent;
}

button:hover{
    background-color: #47adf1;
    color: white;

    border: transparent;
    cursor: pointer;
}

/* parte principale */

.mainpart{
    padding-top: 20px;
}

h2{
    margin-top: 20px;
}

li, ul{
    padding: 10px 20px 15px 0;

    list-style-type: none;
}

.checkmark{
    margin-right: 10px;
    padding-left: 2px;
    
    color: green;
    border: 1px solid green; 
    border-radius: 50%;
}


.crossmark{
    margin-right: 10px;
    padding-left: 2px;
    
    color: red;
    border: 1px solid red; 
    border-radius: 50%;
}

/* elementi a fianco della lista */

.rightlist{
    border-radius: 15px;
    padding: 8px 12px;
    
    color: white;
    font-size: 12px;
}

/* colori dei vari elementi */

#blue{
    background-color: #47adf1;;
}

#purple{
    background-color: #9c72e4;
}

#green{
    background-color: #64c0a9;
}

#orange{
    background-color: #f29e33;
}

#pink{
    background-color: #d863a1;
}

#acidgreen{
    background-color: #b0c926;
}

/* footer */

footer{
    margin: 20px 20px;
    text-align: center;
    color: gray;
}



