*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: lightgray;
}

/* header */

header{
    background-color: white;
    padding-top: 20px;
    padding-left: 20px;
}

header > h1{
    display: inline-block;
    font-weight: bold;
    line-height: 50px;
    vertical-align: bottom;
    font-size: 40px;
}

/* main */

main{
    margin: 100px 300px;
    background-color: white;
}

/* bottoni */

.buttonarea{
    padding: 20px;
}

button{
    padding: 5px 10px;

    border: solid gray 1px;
    border-radius: 5px;

    color: gray;

    background-color: transparent;
}

button:hover{
    background-color: #47adf1;
    color: white;
    border: transparent;
}


