*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}

/* header */

#header{
    padding: 20px  20px;
    background-color: white;
}

#header #logo{
    display: inline-block;
    vertical-align: middle;
}

#header h1{
    display: inline-block;
    vertical-align: middle;

    font-size: 2em;
}


/* main */

main{
    max-width: 800px;
    margin: 0 auto;
}

#btnarea{
    background-color: white;
    margin-top: 100px;
    padding: 20px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

button{
    padding: 5px 8px;
    border-radius: 8px;

    border:rgb(169, 164, 164) 1px solid;
    background-color: transparent;
    color: rgb(169, 164, 164);
}


button:hover{
    background-color: #47adf1;
    color: white;
    border: transparent;
}

/* lista */


span{
    margin: 5px;
    padding: 4px 6px;
}

ul{
    list-style-type: none;
}

details, li{
    margin-top: 15px;
}

.todolist{
    margin-top: 5px;
    background-color: white;
    padding: 20px;
    padding-bottom: 30px;
}

.listitem{
    font-size: 1.4em;
    font-weight: bold;
}


.check-mark{
    color: green;
    border: 1px green solid;
    border-radius: 50%;
}

.cross-mark{
    color: red;
    border: 1px red solid;
    border-radius: 50%;
}

.badge{
    background-color: blue;
    color: white;

    padding: 6px 10px;
    
    font-size: 12px;
    border-radius: 8px;
}


#blue{
    background-color: #47adf1;;
}

#purple{
    background-color: #9c72e4;
}

#green{
    background-color: #64c0a9;
}

#orange{
    background-color: #f29e33;
}

#pink{
    background-color: #d863a1;
}

#acidgreen{
    background-color: #b0c926;
}


/* footer */

footer{
    margin: 20px 20px;
    text-align: center;
    color: gray;
}
